{% extends 'index.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://static.beautytocare.com/media/catalog/product/n/i/nivea-men-protect-care-deep-cleaning-face-wash-100ml_1.jpg"
        class="card-img-top" alt="Placeholder image">
    <div class="card-body">
        <h5 class="card-title">Example Title</h5>
        <p class="card-text">This is some example text for the card.</p>
        <a href="#" class="btn btn-primary">See More</a>
    </div>
</div>
{% endblock %}